/* Default styling */
html {
  background-color: white;

}

/* If screen wider than 600px */
@media screen and (min-width: 600px) {
  html {
    background-color: chartreuse;
  
}

}
/* If screen wider than 1024px */
@media screen and (min-width: 1024px) {
  html {
    background-color: aquamarine;
  
}
}

/* This is the CSS for Mobile screens++ */
.main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

/* This is the CSS for Laptop screens++ */
@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}

.content-section {
  margin: 0 px auto;
  background-color: darksalmon;
  border-radius: 4px;
  min-height: 300px;
  max-width: 400px;
  width: 100%;

  font-size: 1vw;
  padding: 1em 2em;
}

.content-image {
  width: 100%;
}

.content-title {
  text-align: center;
  
}

.content-details {
  display: none;
}

@media screen and (min-width: 1024px) {
  .content-details {
    display: block; 
  }
  
}

